<div class="box">

	<% if @document_group_category_id %>
		<h1 class="title">Uusi alakategoria kategoriaan <%= @document_group_category.name %></h1>
	<% else %>
		<h1 class="title">Uusi dokumenttialakategoria</h1>
	<% end %>

	<%= render 'form' %>

	<% if @document_group_category_id %>

		<br>

		<%= link_to 'Takaisin', '/document_group_categories/' + @document_group_category_id.to_s %>

	<% end %>

</div>