<h2><%= @event.name %></h2>

<h3>Ilmoittautuneet</h3>

<div id="Event" class="container-fluid">

  <div class="col-lg-9">

        <% if @users %>

            <table>
              <thead>
              <tr>
                <th>Nimi</th>
              </tr>
              </thead>

              <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td><%= user.signup_number(@event.id) %>. <%= user %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <br>
        </div>

   </div>

    <%= link_to 'Takaisin tapahtumaan', event_path(@event.id) %>

<% end %>
