<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_parameter_type.name %>
</p>

<%= link_to 'Edit', edit_event_parameter_type_path(@event_parameter_type) %> |
<%= link_to 'Back', event_parameter_types_path %>
