<h1>Jäsenet</h1>

<table>
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Sähköpostiosoite</th>
      <th>Jäsenyys</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user %></td>
        <td><%= user.email %></td>
        <td></td>
        <td><%= link_to 'Poista', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

