<div class="box">

  <h2 class="title is-spaced">Käyttäjät</h2>

  <table class="table">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Sähköpostiosoite</th>
          <th></th>
        </tr>
      </thead>

    <tbody>
      <% @users.each do |user| %> 
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('Remove'), user, method: :delete, data: { confirm: "#{t('are_you_sure')}?" } %></td>
      <% end %>
      </tr>
    </tbody>

    </table>

</div>