<div class="EventBoxes col-lg-2">

  <div class="allEvents" ng-show="show == 'all'">

    <ul class="compactEvent" ng-repeat="event in events">
      <li><a href="events/{{event.id}}">{{event.name}}</a></li>
      <li>{{event.starttime}}</li>
    </ul>

  </div>

  <div class="upcomingEvents" ng-show="show == 'upcoming'">

    <ul class="compactEvent" ng-repeat="event in upcomingEvents">
      <li><a href="events/{{event.id}}">{{event.name}}</a></li>
      <li>{{event.starttime}}</li>
    </ul>

  </div>

  <div class="pastEvents" ng-show="show == 'past'">

    <ul class="compactEvent" ng-repeat="event in pastEvents">
      <li><a href="events/{{event.id}}">{{event.name}}</a></li>
      <li>{{event.starttime}}</li>
    </ul>

  </div>
</div>