<div class="EventBoxes col-lg-3">

  <span>Näytä:</span>
  <select name="EventSelect" id="EventSelect" ng-model="show">
    <option selected value="upcoming">Tulevat tapahtumat</option>
    <option value="past">Menneet tapahtumat</option>
    <option value="all">Kaikki tapahtumat</option>
  </select>

  <p></p>

  <div class="allEvents" ng-show="show == 'all'">

    <ul class="compactEvent" ng-repeat="event in events">
      <li><b><%= link_to '{{event.name}}','#','ng-href' => "#{events_path()}/{{event.id}}" %></b></li>
      <li>{{event.starttime}}</li>
    </ul>

  </div>

  <div class="upcomingEvents" ng-show="show == 'upcoming'">

    <ul class="compactEvent" ng-repeat="event in upcomingEvents">
      <li><b><%= link_to '{{event.name}}','#','ng-href' => "#{events_path()}/{{event.id}}" %></b></li>
      <li>{{event.starttime}}</li>
    </ul>

  </div>

  <div class="pastEvents" ng-show="show == 'past'">

    <ul class="compactEvent" ng-repeat="event in pastEvents">
      <li><b><%= link_to '{{event.name}}','#','ng-href' => "#{events_path()}/{{event.id}}" %></b></li>
      <li>{{event.starttime}}</li>
    </ul>

  </div>
</div>