<p id="notice"><%= notice %></p>

<h1>Tapahtumakalenteri</h1>

<div ng-controller="EventsController">

  <div id="Events" class="container-fluid">

    <div class="Events col-lg-9">

      <p></p>

      <div class="allEvents" ng-show="show == 'all'">

        <p ng-show="events.length === 0">Ei tapahtumia</p>

        <div class="Event" ng-repeat="event in events">
          <div class="EventFields">
              <b><a href="events/{{event.id}}">{{event.name}}</a></b><br>
              Aika: {{event.starttime}}<br>
              Paikka: {{event.location}}<br>
              Hinta: <span ng-if="!event.price">Ei maksua</span>{{event.price}}<br>
              <p></p>
              <p>{{event.descr}}</p>
              <p></p>
          </div>

          <br>
        </div>


      </div>

      <div class="upcomingEvents" ng-show="show == 'upcoming'">

        <p ng-show="upcomingEvents.length === 0">Ei tulevia tapahtumia</p>

        <div class="Event" ng-repeat="event in upcomingEvents">
          <div class="EventFields">
              <b><a href="events/{{event.id}}">{{event.name}}</a></b><br>
              Aika: {{event.starttime}}<br>
              Paikka: {{event.location}}<br>
              Hinta: <span ng-if="!event.price">Ei maksua</span>{{event.price}}<br>
              <p></p>
              <p>{{event.descr}}</p>
              <p></p>
          </div>
          <br>
        </div>

      </div>

      <div class="pastEvents" ng-show="show == 'past'">

        <p ng-show="pastEvents.length === 0">Ei menneitä tapahtumia</p>

        <div class="Event" ng-repeat="event in pastEvents">
          <div class="EventFields">
              <b><a href="events/{{event.id}}">{{event.name}}</a></b><br>
              Aika: {{event.starttime}}<br>
              Paikka: {{event.location}}<br>
              Hinta: <span ng-if="!event.price">Ei maksua</span>{{event.price}}<br>
              <p></p>
              <p>{{event.descr}}</p>
              <p></p>
          </div>
          <br>
        </div>

      </div>

      <p></p>

      <% if admin %>

          <%= link_to 'Lisää tapahtuma', new_event_path %>

      <% end %>

    </div>

    <%= render 'sidebar_events' %>

  </div>

</div>