<div class="box">
	<% if @text %>
		<pre><%= @text.value.html_safe %></pre>
	<% else %>
		<pre>Welcome to the Matrix ry Webpage!

Matrix ry is the subject organization of mathematics students at the University of Helsinki. The organisation is known to students simply as Matrix; ry is short for registered organization in Finnish. We organize recreational activities, festivities, and events related
 to studying mathematics or working as a mathematician for our members. 

Excursions range from going to film festivals and museums to donating blood together. Matrix also organizes sports sessions at Kumpula UniSport (a sports hall and gym on campus) every other Thursday. As a member, you are free to come and play basketball, futsal, floorball,
 volleyball and badminton at no cost. Matrix also promotes the interests of mathematics students in decision-making at the university.

Matrix ry hosts a board meeting (HalKo, from the Finnish hallituksen kokous) every few weeks. Every member of Matrix ry is welcome to attend these meetings. You can see where and when the next board meeting will be held on the front page under “Ajankohtaista”. Information
 on upcoming events is also posted there. 

Mailing lists are a convenient way to stay up to date on current events relevant to mathematics students and members of Matrix.  Information about upcoming events, excursions, sports sessions and board meetings are sent to them regularly. You may be interested in
 joining some of the following mailing lists:

matrix (at) helsinki.fi

The list for every math student. The emails on this list will be about the events and parties organized by Matrix and general information for everyone in the Student Union. Also some advertisements for events organized by other Kumpula organizations will be let
 through the list. This is a moderated list.

matrix-ry (at) helsinki.fi

The matrix-ry list is designed for an active member of Matrix, to give out information important for planning events etc. There can be discussion on decision making in Matrix. You can send anything that you think might interest an active member of Matrix to the
 list, and join the list yourself if you're interested.

matrix-hallitus (at) helsinki.fi

This list is only for the board of Matrix, to discuss only internal business of the board.

If you want to send an email to a list, use an email address of the form list-name(at)helsinki.fi.
 Below we have listed the most important commands. The commands should be sent to the email address
majordomo@helsinki.fi. Leave the subject of the email blank and write the command on the first row of the email. Replace "list-name" by for example "matrix" or "matrix-ry", and replace "address" by your own email address.

subscribe list-name address

This command subscribes you to a list. Write your address only if it is not the same address from where you send this email.

unsubscribe list-name address

Unsubsrcribing from a list.

help

Gives a list of all commands

info list-name

Information about the list.

who list-name

Gives a list of all addresses on a list. This command is disabled on several lists.

which address

The lists to which this email address is subscribed to.

For new students 

Matrix and other student organizations of the Faculty of Science will organize several events for new students throughout the Fall 2017. By participating you have the chance to meet other new freshmen and older students, especially tutors. Below we have listed and
 described the most important events. You can find more information later in the fall from this website, the mailing lists, and of course from your tutors. In addition, we suggest you join the Facebook group "Matemaattisten tieteiden fuksit X", which is Finnish
 for Freshmen of Mathematical Sciences X.

16.8. Pre-Orientation Picnic and Matlu Summer Party

  The first event for freshmen is already in Summer! We'll go for a picnic to the sea fortress island Suomenlinna. If you wish, you can join us in games and other activities while there. We leave together for      the picnic from the main entrance of the Central
 Railway Station, by the statues of men holding spheres. Come there at 2 pm and look for people in red overalls. If the day is rainy, come anyways, we'll plan some other activities. Afterwards we'll go to the Summer Party organized by Matlu, the Science Students'
 Association.

 29.8 - 1.9 or 30.8.-1.9, Orientation week

  During the orientation week, the Department of Mathematics and Statistics and the Faculty of Science will organize a plethora of events and activities for new students, with the purpose of helping you in      getting to know the university and the mathematics' studies
 offered. On Tuesday 29.8. all exchange students will be divided to tutor groups, whereas new master's degree students will meet on   Wednesday 30.8. Tutors have studied in University of Helsinki for at least a year, and will contact you by email before orientation.
 There is plenty to do throughout the week, so we suggest you keep the week free of other plans.

 29.8. First meeting of exchange students

  The address of the department  is Gustaf Hällströmin katu 2B, in class C322 of the building Exactum at 2 pm. Here it all begins!

 30.8 First meeting of master's degree students

  The first meeting is a faculty presentation in Physicum, auditorium D101 at 9 am.


 29.8. Freshman sports

  Casual sports with your tutors at X. We leave together from the chess board of Exactum at 2 pm. Unfortunately this overlaps with the first meeting of exchange students, but the interested master's degree students may join independently.

 29.8. Board games at Y

  There'll be casual games and socializing, location Y to be specified.

 30.8. Shaking hands with the rector

  The rector of University of Helsinki will give the official welcome speech at 2 pm in the main building by the Senaatintori. The rector will begin his speech at 2pm sharp, so be early.

 30.8. Helsinki City Tour

  We'll get to know the most important places for students and mathematicians in central Helsinki. We leave together from the steps of the Helsinki cathedral at quarter to 5 pm, after shaking hands with the rector.

 31.8. Science Bazaar

  The departments and organizations of Kumpula will introduce themselves from 1 pm to 4 pm in the lobby of Physicum. The programme can be found here

 31.8. Orientation picnic

  A picnic on the orientation week in the park Kaivopuisto. We leave together at half past 4 pm from the chess board of Exactum.

 1.9. Kumpula orienteering

  Getting to know the Kumpula campus by orienteering games starting at X pm.

 1.9. Matlu's Freshman party

  The Freshman party of the Science Students' Association Matlu.

 4.9. Opening Carnival of the University of Helsinki

  The Carnival will be held in the central campus starting at 2 pm. There you'll have the chance to get to know all kinds of organizations of the university. In addition, there organizations will be selling patches for overalls and offer snacks and drinks. Be there!

 7.9. Freshman Olympics

  More casual sports and games, this time in a checkpoint competition organized by your tutors, in park Kaisaniemenpuisto starting at 4 pm.

 13.9. Freshman Day

  The Freshman Day of Matrix, starting 3 to 4 pm from the meeting room of Klusteri. You'll go around Helsinki and find checkpoints, where you'll complete the tasks given to you. This is THE Freshman event you don't want to miss, followed by a sauna after party.

 22.9. Freshman sitsit

  We'll get to know the etiquette of academic dinners in the traditional yet lovely Alina Hall of the New Student House. Sitsit is a tradition unique to Nordic student culture, we recommend you experience it at least once!

 29.9. Freshman adventure

  The Freshman adventure is organized by the Student union for all new students of University of Helsinki. You can go around the checkpoints and get to know what students do at other faculties, for example the faculties of arts and medicine!

 8.10 The Fall party

   A traditional party with a changing theme, Matrix organizes the Fall Party in the middle of the Fall 2017. The theme will be published by the end of summer, and the best costume will be awarded.

 3. - 5.11. Freshman cruise to Stockholm

  KJYR is the Finnish acronym for The Common cruise of Kumpula organizations, also known as the Freshman cruise to Stockholm.

 11.11. Pre-Christmas sitsit

  A Christmas sitsit in the Alina Hall of the New Student House. Bring your Santa's hat and Christmas spirit!
</pre>
	<% end %>
</div>