
<div class="container">
	<div class="row">
		<div class='col-md-12 box'>
			<div id="introduction">
			    <h1>Matematiikan opiskelijaryhmä Matrix ry</h1>

			    <p>Matematiikan opiskelijaryhmä Matrix ry on Helsingin yliopiston matematiikan opiskelijoiden ainejärjestö.
			    Järjestämme jäsenillemme sekä virkistys- ja vapaa-ajantoimintaa että matematiikan opiskeluun liittyvää toimintaa.
			    Toimimme myös aineemme opiskelijoiden edunvalvojana yliopistolla.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class='col-md-6 box'>
			<div id="welcome">
			    <h3>Tervetuloa!</h3>

			    <p>
			    	Tervetuloa opiskelemaan matematiikan ja tilastotieteen laitokselle! Matrix on kaikkien matematiikan opiskelijoiden, siis myös sinun, ainejärjestö. Järjestämme syksyllä uusille opiskelijoille eli fukseille runsaasti toimintaa aina urheilusta ja excuista bileisiin, joten syksyllä ei varmasti tule tylsää.

			    	<br>
			    	<br>

					Tietoa fuksitapahtumistamme saat näiltä sivuilta, etenkin fuksisivultamme, sinulle lähetetystä Matrixin punaisesta fuksiläystäkkeestä ja syksyllä tuutoriltasi, joka on vanhempi fuksien auttamiseen perehdytetty opiskelija. Fuksioppaastamme löydät paljon opiskeluun liittyvää tietoa sekä apua, ja voithan aina liittyä IRC-kanavallemme #matrix-ry IRCnetissä. 

					<br>
					<br>

					Ajankohtaisinta tietoa tulevista tapahtumista saat liittymällä Matrixin sähköpostilistalle. Katso myös kalenterimme.
				</p>
			</div>
		</div>
		<div class='col-md-6 box'>
			<%= image_tag("varaslahto2013.JPG") %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
	  <div class="col-md-5 box">
	    <h1>Ajankohtaista</h1>
	    <p>
	    	<%= get_stringresource("<Ajankohtaista>") %>
	    </p>
	  </div>
	  <div class="col-md-2"></div>
	  <div class="col-md-5 box">
	    <h1>Tulevia tapahtumia</h1>
	  </div>
	</div>
</div>