<h1>Järjestö</h1>

<p>
  Matematiikan opiskelijaryhmä Matrix ry on Helsingin yliopiston matematiikan opiskelijoiden ainejärjestö.
  Yhdistyksen toiminta juontaa juurensa kevääseen 1991, jolloin perustettiin Matematiikan opiskelijaryhmä.
  Nimi Matrix otettiin käyttöön 1.3.1995 – tämä päivä onkin nykyään Matrixin vuosipäivä.
  Matrix rekisteröitiin HYY:n alaiseksi 1997 ja yhdistysrekisteriin 18.10.1999. Jäseniä Matrixilla on nykyään noin 400.
</p>
<p>
  Matrix järjestää jäsenilleen erilaista virkistys- ja vapaa-ajantoimintaa kuten ekskursioita, pöytäjuhlia, saunailtoja, hengailuja sekä bileitä. Pidämme myös huolen fuksien, uusien opiskelijoiden, tutustuttamisesta yliopistomaailmaan järjestämällä syksyisin runsaasti fuksitapahtumia ja toimimalla yhteistyössä tiedekunnan kanssa tuutoriasioissa. Perinteisiä tapahtumia ovat esimerkiksi suositut pikkujoulut, vuosijuhlat maaliskuun alussa ja syksyn teemabileet sekä syksyiset fuksitapahtumat kuten fuksiaiset ja fuksisitsit.
</p>
<p>
  Matrix tukee matematiikan opiskeluun liittyvää toimintaa muun muassa organisoimalla opintopiirejä perus- ja aineopintokurssien tueksi sekä ylläpitämällä opiskelijahuoneessa pientä matematiikan, tietojenkäsittelytieteen, fysiikan ja kemian kirjastoa. Lisäksi Matrix on mukana matematiikan ja tilastotieteen laitoksen kanssa järjestämässä kaikille laitoksen opiskelijoille suunnattua opiskelijakollokviota ja toimii matematiikan opiskelijoiden edunvalvojana yliopistolla.
</p>
<p>
  Matrixin koti on <%= link_to 'Komero', '/komero' %>, Exactumin kolmannen kerroksen opiskelijahuone C338. Nimi juontaa juurensa ajoilta, jolloin matematiikan laitos sijaitsi vielä keskustakampuksella ja opiskelijoille annettiin käyttöön siivouskomeron kokoinen tila. Komero on suosittu opiskelijoiden taukopaikka. Siellä on tarjolla edullista kahvia, teetä ja erilaista naposteltavaa. Myös erilaisten Matrix-tuotteiden kuten haalarimerkkien ostaminen on mahdollista – jäseneksikin voi liittyä ja jäsenyyden vahvistaa Komerossa. Lisäksi Matrix jakaa n. 20 muun järjestön kanssa Matlun <%= link_to 'Christina Regina -klusterin', '/klusteri' %> Domus Gaudiumilla eli Kolmannella ylioppilastalolla osoitteessa Mechelininkatu 3C.
</p>

<h2>Jäseneksi</h2>

<h3>Miksi kannattaa liittyä?</h3>

<p>
  Matrix ry:n jäsenyys on oiva tapa päästä mukaan matematiikan opiskeluun, yliopistoelämään sekä ainejärjestötoimintaan. Tämän lisäksi Matrix järjestää vuoden aikana runsaasti tapahtumia ja ekskursioita, joihin jäsenet ovat etuoikeutettuja osallistumaan. Yleensä myös pääsy- ym. maksuja sponsoroidaan jäsenten osalta.
</p>

<h3>Liittyminen</h3>

<p>
  Jäseneksi voi liittyä kuka tahansa Helsingin yliopiston matematiikan pää- tai sivuaineopiskelija. Jäseneksi on helpointa liittyä matematiikan opiskelijoiden opiskelijahuoneessa, Komerossa.
</p>

<h3>Vahvistaminen</h3>

<p>
  Jäsenyytensä voi vahvistaa Komerossa ja Matrixin tapahtumissa ajalle 1.8. - 31.7. On mahdollista vahvistaa jäsenyytensä useammaksi vuodeksi kerralla maksamalla yhtä monen vuoden maksun. Jos jäsenyyttä ei vahvista 31.7. mennessä, hallitus voi erottaa jäsenen yhdistyksestä.
</p>

<b><%= link_to 'Rekisteriseloste', '/rekisteriseloste' %></b>

<h2>Nauhoitetut ja kunniajäsenet</h2>

<p>
  Seuraaville henkilöille on myönnetty Matrix ry:n järjestönauha:
</p>
<ul>
  <li>Jarkko Sutela</li>
  <li>Hanna Jäntti</li>
  <li>Terhi Hautala</li>
  <li>Kirsi Kontinen</li>
  <li>Jouni Haapakoski</li>
  <li>Åsa Hirvonen</li>
  <li>Juan Sanchez</li>
  <li>Hanna Uotila</li>
  <li>Antti Salmivaara</li>
  <li>Jaakko Toivonen</li>
  <li>Saara Syrjäsuo</li>
  <li>Jouni Seppälä</li>
  <li>Hanna Mäkinen</li>
  <li>Anne Kotiharju</li>
  <li>Robert Service</li>
  <li>Ville Heino</li>
  <li>Mika "Roope" Tikkanen</li>
  <li>Tiina Romu</li>
  <li>Piia Nissinen</li>
  <li>Anni "Lilli" Nevanlinna</li>
  <li>Lauri Hellstén</li>
  <li>Eija Muhonen</li>
  <li>Anssi Leppäkoski</li>
  <li>Ossi Syrjänen</li>
  <li>Harri Auvinen</li>
  <li>Ossi Mauno</li>
  <li>Johanna Rämö</li>
  <li>Arto Piironen</li>
  <li>Susanna Oksanen</li>
  <li>Janne Sirén</li>
  <li>Tero Pirinen</li>
  <li>Vesa Piilola</li>
  <li>Salla Kilpinen</li>
  <li>Noora Nuutinen</li>
  <li>Senni Ryhtä</li>
  <li>Maija Karesvuori</li>
</ul>
 
<p>
  Yhdistyksen kunniajäseniksi on kevätkokouksessa 1999 hyväksytty Matrix-nimen keksinyt Oscar Salonaho ja Matrixin logon suunnitellut Tatu Suomi.
</p>