<h1>Kerhot</h1>

<p>Matrixissa toimii joukko erilaisia kerhoja, joiden toimintaan kaikki voivat osallistua. Vanhin kerhoista on Weierstrass, Matrixin oma kuoro.
  Matrixin vanhoja, jo toimintansa lopettaneita, kerhoja ovat elokuvakerho, filosofiakerho, käsityökerho Silmukka, naiskerho Trinity, AV-komitea ja hinguere-kerho.</p>

<br>

<h3><%= link_to 'Jätkäntappajat', jatkantappajat_path %></h3>

<p>Huutopussia, maailman parasta korttipeliä, pelaava Matrixin kerho. Isompia peli-iltamia järjestetään joka kuukausi, pienempiä kokoontumisia useita kertoja viikossa. </p>