<h1>Kerhot</h1>

<p>Matrixissa toimii joukko erilaisia kerhoja, joiden toimintaan kaikki voivat osallistua. Vanhin kerhoista on Weierstrass, Matrixin oma kuoro.
  Matrixin vanhoja, jo toimintansa lopettaneita, kerhoja ovat elokuvakerho, filosofiakerho, käsityökerho Silmukka, naiskerho Trinity, AV-komitea ja hinguere-kerho.</p>

<br>

<h4 id="Kerhot-Toiminnassaolevatkerhot">Toiminnassa olevat kerhot</h4>

<p><strong>ViAGra</strong><br/> 

Matrixin VIini And GRAdu -kerho tapaa noin kerran kuussa. Kerhon tarkoituksena on toimia vertaistukena graduntekijöille (ja miksei kandin/lisurin/väikkärinkin) ja siellä voi kertoa mieltä vaivaavat ongelmat aiheeseen liittyen. Joskus se kun selittää ongelman muille ääneen, auttaa itseä tajuamaan siitä enemmän. Ja viinihän on akateeminen juoma.</p>

<p><strong>Weierstrass</strong> <br/> 

Matrixin kuoro Weierstrass on kerhoista vanhin ja porskuttaa vauhdikkaasti eteenpäin. Kuoron voi havainnoida jännistä äänistä laitoksen hiljaisuudessa tai vaikkapa Matrixin pikkujouluista ja vuosijuhlilta esiintymästä. Lisätietoa kuorosta voi kysellä Komerosta.</p>

<p><strong> Kyykkäkerho </strong> <br/> 

Matrixin kansainvälisen maailmanmestaruudenkin voittanut kyykkäjoukkue järjestää ympäri vuoden tapaamisia ja kyykkäotteluita kaikille kyykästä kiinnostuneille. Kyykkävuoden kohokohta on luonnollisesti <a href="http://www.kyykka.fi/" class="external-link" rel="nofollow">Akateemisen kyykän MM-kilpailut</a> vuoden alussa.</p>

<p><strong> Jätkäntappajat </strong> <br/> 

Huutopussia, maailman parasta korttipeliä, pelaava Matrixin kerho. Isompia peli-iltamia järjestetään joka kuukausi, pienempiä kokoontumisia useita kertoja viikossa. </p>

<p><strong>FC Matrix</strong> <br/> 

FC Matrix on matemaatikoiden oma jalkapalloon ja futsaliin keskittyvä joukkue, joka pelaa yliopistosarjaa. Harjoitteluun joukkue ei ole toistaiseksi sortunut, mutta Matrixin liikuntavuorolle torstaisin ovat kaikki tervetulleita. </p>

<p><strong> Marssikerho Kontraktio </strong> <br/> 

Matrixin marssikerho Kontraktio järjestää iloisia ja reippaita marsseja Helsingin eri kolkkiin.</p>

<p> </p>

<h4 id="Kerhot-Kerhonperustaminen">Kerhon perustaminen</h4>

<p>Kerhon voi perustaa kuka tahansa matrixlainen. Jos keksit loistavan idean, jonka luulet kiinnostavan myös muita jäseniä ja jonka pohjalta haluaisit perustaa uuden kerhon taikka olet kiinnostunut herättämään henkiin jonkin vanhoista kerhoista, ota yhteyttä Matrixin hallitukseen. Tarkistathan kuitenkin ensin, ettei samankaltaista kerhoa ole jo toiminnassa. Hallitus ja muut kerhonvetäjät antavat mielellään neuvoja mm. tilojen varaamisesta. Lisäksi hallitus voi myöntää pientä avustusta kerhoille.</p>

<p> </p>