<div class="box">
  <% if @text %>
    <pre><%= @text.get_value.html_safe %></pre>
  <% else %>
	<h1 class="title">Klusteri</h1>

	<p>Kolmannen ylioppilastalon eli Domus Gaudiumin ensimmäisessä kerroksessa osoitteessa Leppäsuonkatu 11 sijaitseva Matlun Christina Regina -klusteri on Matrixin toinen koti. Klusteri jaetaan mm. muiden Kumpulan ainejärjestöjen kanssa ja siellä on kolme erillistä tilaa, kaksi vessaa ja jokunen varastohuone. Sisään klusterille pääsee klusterihengailujen aikana, ja muulloinkin, mikäli paikalla on joku, soittamalla Leppäsuonkadun puolella olevaa summeria &quot;Matlu Christina Regina&quot;.</p>
	<br>
	<h3 id="Klusteri-Klusterinkäyttö" class="subtitle">Klusterin käyttö</h3>

	<p>Koska Klusterilla ei käy siivoojia, jokainen siivoaa omat jälkensä. Jokainen roska heitetään sille tarkoitettuun roskakoriin eikä niitä jätetä lojumaan ympäriinsä.</p>

	<p>Klusterilla on kerhohuone ja kokoushuone, jotka ovat järjestöjen varattavissa. Kokoushuone on usein lukittu, mutta kerhohuone auki, ellei sitä ole varattu. Suuri oleskelutila on aina käytettävissä, jos avaimellinen henkilö on paikalla. Viimeisen avaimellisen lähtiessä on kaikkien muidenkin lähdettävä ja klusterin oltava siisti. Klusterilta pitää lähteä viimeistään klo 12, jos yökäyttöä ei ole otettu. Klusterihengailujen aikana yökäytön ottamisen hoitavat yleensä klusterivastaavat.</p>
	<br>
	<h3 id="Klusteri-Hengailut" class="subtitle">Hengailut</h3>

	<p>Matrix järjestää klusterilla klusterihengailuja, joissa saa nauttia klusterin mukavasta ilmapiiristä, pienestä naposteltavasta ja ihanista matemaatikoista – eikä pidä unohtaa rakasta Urho-karhuamme. Urhoa saa halata, mutta varovasti, Urho ei voi oikein hyvin! Klusterihengailut ovat avoimia kaikille, joten voit tutustua myös muiden ainejärjestöjen ihaniin ihmisiin/olentoihin. Silloin tällöin järjestetään myös yhteishengailuja muiden ainejärjestöjen kanssa, jolloin on vielä parempi tilaisuus tutustua salaperäisiin kemisteihin, käpistelijöihin, fyysikoihin tai muihin ihmeellisiin kummajaisiin, joita yliopistolla vaeltaa. Tavoitteena on järjestää hengailuja kerran kuussa lukukausien aikana.</p>

	<p>Koko iltaa ei tarvitse olla syömättä, koska klusterilla tarjoillaan pientä naposteltavaa. Sipsiä ja karkkeja sun muita on tarjolla ja niitä saa ottaa.</p>

	<p>Klusterilla on kivaa, joten kaikki saapuvat.</p>
	<br>
	<h3 id="Klusteri-Muutatapahtumaa" class="subtitle">Muuta tapahtumaa</h3>

	<p>Matrixilla on tiettyinä viikkoina toisen järjestön kanssa klusterin siivousvuoro, ja mahdollisimman moni klusteriaktiivi halutaan paikalle siivoamaan, jotta kaikilla olisi kivaa siistillä klusterilla. Siivousvuoroista lähetetään sähköposti, jossa ilmoitetaan päivä ja kellonaika. Saapukaa paikalle hyvissä ajoin, etenkin klusteriaktiivit!</p>
  <% end %>
</div>