<h1>Klusteri</h1>

<p>Kolmannannen ylioppilastalon eli Domus Gaudiumin ensimmäisessä kerroksessa osoitteessa Leppäsuonkatu 11 sijaitseva
    Matlun Christina Regina -klusteri on Matrixin toinen koti. Klusteri jaetaan mm. muiden Kumpulan ainejärjestöjen kanssa ja siellä
    on kolme erillistä tilaa, kaksi vessaa ja jokunen varastohuone. Sisään klusterille pääsee klusterihengailujen aikana, ja muulloinkin,
    mikäli paikalla on joku, soittamalla Leppäsuonkadun puolella olevaa summeria "Matlu Christina Regina".</p>