<div class="box">
	<h2 class="title">Rekisteriseloste</h2>
	<br>
	<p class="subtitle">Matematiikan opiskelijaryhmä Matrix ry</p>
	<br>
	<h4 id="Rekisteriseloste-1.REKISTERINNIMI">1. REKISTERIN NIMI</h4>
	<br>
	<p>Matrix ry:n jäsenrekisteri</p>
	<br>
	<h4 id="Rekisteriseloste-2.REKISTERINPITÄJÄ">2. REKISTERINPITÄJÄ</h4>
	<br>
	<p>Nimi: Matematiikan opiskelijaryhmä Matrix ry<br/>
	Matematiikan ja tilastotieteen laitos<br/>
	Matrix ry<br/>
	PL 68 Gustaf Hällströmin katu 2 B<br/>
	00014 Helsingin yliopisto</p>
	<br>
	<h4 id="Rekisteriseloste-3.YHTEYSHENKILÖ">3. YHTEYSHENKILÖ</h4>
	<br>
	<p>Yhdistyksen varapuheenjohtaja</p>
	<br>
	<h4 id="Rekisteriseloste-4.REKISTERINTARKOITUS">4. REKISTERIN TARKOITUS</h4>
	<br>
	<p>Yhdistyslain mukaan aatteelliselle järjestölle on säädetty tehtäväksi jäsenrekisterin pitäminen. Jäsenrekisterin tietoja voidaan käyttää yhteydenpitoon jäsenten suuntaan, jäsenmaksujen tarkkailuun ja jäsenyyden tarkastamiseen.</p>
	<br>
	<h4 id="Rekisteriseloste-5.REKISTERINTIETOSISÄLTÖ">5. REKISTERIN TIETOSISÄLTÖ</h4>
	<br>
	<p>Jäsenrekisterissä luetellaan yhdistyksen jäsenistä seuraavat tiedot: täydellinen nimi, kotiosoite, sähköpostiosoite, kotikunta, jäsenmaksukaudet ja yhdistykseen liittymisvuosi.</p>
	<br>
	<h4 id="Rekisteriseloste-6.SÄÄNNÖNMUKAISETTIETOLÄHTEET">6. SÄÄNNÖNMUKAISET TIETOLÄHTEET</h4>
	<br>
	<p>Tiedot jäsenrekisteriin merkitään jäsenen ilmoituksen perusteella. Jos henkilöllä ei ole suomalaista henkilötunnusta, ilmoitetaan syntymäaika. Sähköpostiosoitetta ei tarvitse halutessaan antaa. Tiedot jäsenrekisterissä päivitetään jäsenyyden vahvistamisen yhteydessä tai jäsenen niin halutessa.</p>
	<br>
	<h4 id="Rekisteriseloste-7.SÄÄNNÖNMUKAISETTIETOJENLUOVUTUKSET">7. SÄÄNNÖNMUKAISET TIETOJEN LUOVUTUKSET</h4>
	<br>
	<p>Tietoja voidaan käyttää yhdistyksen toiminnassa yhdistyksen hallituksen ja yhdistyksen sääntöjen määräämällä tavalla.</p>
	<br>
	<p>Yhdistyslain 11 § 2 momentin mukaisesti kaikilla yhdistyksen jäsenillä on oikeus tutustua tietoihin kaikkien jäsenten nimestä, kotipaikasta ja jäsenyydestä.</p>
	<br>
	<p>Tietoja ei luovuteta yhdistyksen ulkopuolelle.</p>
	<br>
	<h4 id="Rekisteriseloste-8.REKISTERINSUOJAUKSENPERIAATTEET">8. REKISTERIN SUOJAUKSEN PERIAATTEET</h4>
	<br>
	<p>A. Manuaalinen aineisto<br/>
	Manuaaliseen aineiston säilytys tapahtuu Helsingin yliopiston Matematiikan ja tilastotieteen laitoksen opiskelijahuoneessa olevassa yhdistyksen lukitussa kaapissa. Kaappiin on pääsy ainoastaan yhdistyksen hallituksen jäsenillä ja hallituksen erikseen nimeämillä henkilöillä.</p>
	<br>
	<p>B. Sähköinen aineisto<br/>
	Vastuu sähköisen aineiston säilytyksestä on rekisterin yhteyshenkilöllä. Yhteyshenkilö voi luovuttaa sähköisenrekisterin muille hallituksen jäsenille jäsentietojen tarkistamista varten.</p>
	<br>
	<h4 id="Rekisteriseloste-9.TARKASTUSOIKEUS">9. TARKASTUSOIKEUS</h4>
	<br>
	<p>Henkilötietolain 26 § mukaan jäsenellä on oikeus tarkastaa itseään koskevat rekisteritiedot ja saada niistä pyydettäessä kopiot. </p>
</div>