<h1>Sähköpostilistat</h1>

<b>matrix (at) helsinki.fi</b>

<p>Tavallisen matrixlaisen foorumi. Listalle päästetään "arkipäivän matrixlaista" kiinnostavaa tietoa Matrixin tapahtumista
    ja bileistä sekä koko ylioppilaskuntaa koskevista asioista. Myös osa oman tiedekunnan bile- ja tapahtumamainoksista päästetään listalle.
    Tämä rajaus on siksi, että listalle tulevan postin määrä ei alkaisi ärsyttää "arkipäivän matrixlaista". Lista on moderoitu.</p>

<b>matrix-ry (at) helsinki.fi</b>

<p>Matrix-ry -lista on matrix-aktiivin arkipäivää. Listalle päästetään aktiivisesti Matrixin toimintaan osallistuvalle tärkeää tietoa.
    Usein listalla käydään myös keskustelua Matrixin päätöksentekoon liittyvistä asioista. Listalle voit lähettää kaikkea,
    minkä luulet kiinnostavan Matrix-aktiivia. Listalle voit myös itse liittyä, mikäli aktiivitoiminta kiinnostaa sinua.
    Ry-listalle tulee usein ennakkotietoa tapahtumista ja tiedotteita tapahtumista,
    jotka eivät ole oleellisia Matrix-listan laajuiselle yleisölle.</p>

<b>matrix-hallitus (at) helsinki.fi</b>

<p>Matrix-hallitus -listalla on vain Matrixin hallitus varajäsenineen. Listalla käsitellään vain ja ainoastaan Matrixin hallituksen
    sisäisiä asioita. Listan käyttöä vältetään asioissa, jotka koskevat koko Matrixia (niitä varten oli edellä mainittu matrix-ry-lista).
    Muiden järjestöjen tavoitellessa hallitusta toivotaan viesti lähetettävän matrix-ry-listalle tai jollekulle hallituksen jäsenelle.</p>

<b>matrix-opet (at) helsinki.fi</b>

<p>Matrix-opet-lista on suunnattu opetustehtävistä kiinnostuneille. Listaa on mainostettu kouluille ja muiden sijaisuuksien tarjoajille.
    Listalle päästetään ainoastaan viestit, joissa tarjotaan sijaisuuksia tai etsitään yksityisopettajaa.</p>

<b>matrix-tyo (at) helsinki.fi</b>

<p>Matrix-tyo -listalle kuuluu työpaikkailmoitukset (ei opetustehtävät) nimenomaan matematiikan nykyisiä tai vastavalmistuneita
opiskelijoita ajatellen. Listalle soveltuvat myös Matrix ry:n ulkopuoliset matemaatikoille suunnatut työelämätietoutta lisäävät tiedotteet
ja tapahtumailmoitukset. Lista on moderoitu.</p>

<b>matrix-alumnit (at) helsinki.fi</b>

<p>Suunnattu jo valmistuneille matemaatikoille.</p>