<div class="box">
  <h1 class="title">Sähköpostilistat</h1>

  <b>matrix (at) helsinki.fi</b>

  <p>Tavallisen matrixlaisen foorumi. Listalle päästetään "arkipäivän matrixlaista" kiinnostavaa tietoa Matrixin tapahtumista
      ja bileistä sekä koko ylioppilaskuntaa koskevista asioista. Myös osa oman tiedekunnan bile- ja tapahtumamainoksista päästetään listalle.
      Tämä rajaus on siksi, että listalle tulevan postin määrä ei alkaisi ärsyttää "arkipäivän matrixlaista". Lista on moderoitu.</p>

  <br>

  <b>matrix-ry (at) helsinki.fi</b>

  <p>Matrix-ry -lista on matrix-aktiivin arkipäivää. Listalle päästetään aktiivisesti Matrixin toimintaan osallistuvalle tärkeää tietoa.
      Usein listalla käydään myös keskustelua Matrixin päätöksentekoon liittyvistä asioista. Listalle voit lähettää kaikkea,
      minkä luulet kiinnostavan Matrix-aktiivia. Listalle voit myös itse liittyä, mikäli aktiivitoiminta kiinnostaa sinua.
      Ry-listalle tulee usein ennakkotietoa tapahtumista ja tiedotteita tapahtumista,
      jotka eivät ole oleellisia Matrix-listan laajuiselle yleisölle.</p>

  <br>

  <b>matrix-hallitus (at) helsinki.fi</b>

  <p>Matrix-hallitus -listalla on vain Matrixin hallitus varajäsenineen. Listalla käsitellään vain ja ainoastaan Matrixin hallituksen
      sisäisiä asioita. Listan käyttöä vältetään asioissa, jotka koskevat koko Matrixia (niitä varten oli edellä mainittu matrix-ry-lista).</p>

  <br>

  <b>matrix-opet (at) helsinki.fi</b>

  <p>Matrix-opet-lista on suunnattu opetustehtävistä kiinnostuneille. Listaa on mainostettu kouluille ja muiden sijaisuuksien tarjoajille.
      Listalle päästetään ainoastaan viestit, joissa tarjotaan sijaisuuksia tai etsitään yksityisopettajaa.</p>

  <br>

  <b>matrix-tyo (at) helsinki.fi</b>

  <p>Matrix-tyo -listalle kuuluu työpaikkailmoitukset (ei opetustehtävät) nimenomaan matematiikan nykyisiä tai vastavalmistuneita
  opiskelijoita ajatellen. Listalle soveltuvat myös Matrix ry:n ulkopuoliset matemaatikoille suunnatut työelämätietoutta lisäävät tiedotteet
  ja tapahtumailmoitukset. Lista on moderoitu.</p>

  <br>

  <b>matrix-alumnit (at) helsinki.fi</b>

  <p>Suunnattu jo valmistuneille matemaatikoille.</p>

  <br>

  <b>Kannattaa myös liittyä <%= link_to 'laitoksen tiedotuslistalle', 'http://wiki.helsinki.fi/display/mathstatOpiskelu/Opiskelijoiden+tiedotuslista' %>.</b>
  <br>
  <br>
  <h3 class="subtitle">Listojen käyttö</h3>

  <p>Listojen on tarkoitus helpottaa suurten joukkojen tavoittamista, joten jos sinulla on asiaa vain muutamalle ystävällesi, lähetä viestisi suoraan heille. Kaikenlaisten kiertokirjeiden lähettäminen listoille on kielletty. Yleistä sähköpostilistojen käytöstä ja perustamisesta voit lukea Helsingin yliopiston ATK-osaston <%= link_to 'postituslistat', 'https://helpdesk.it.helsinki.fi/ohjeet/yhteydenpito-ja-julkaiseminen/sahkoposti/sahkopostilistat' %>-sivulta.</p>

  <p>Listoille lähetettävä posti lähetetään aina osoitteeseen listan-nimi (at) helsinki.fi. Seuraavassa on listattu yleisimmät listoihin liittyvät komennot. Listoihin liittyvä teknisen puolen posti (mm. alla olevat komennot) lähetetään aina osoitteeseen majordomo (at) helsinki.fi. Komentoja annettaessa viestin subject-kenttä jätetään tyhjäksi ja haluttu käsky kirjoitetaan viestin ensimmäiselle riville. Listan-nimi korvataan jollain seuraavista: matrix, matrix-ry, matrix-opet, matrix-tyo tai matrix-alumnit ja [osoite] korvataan omalla osoitteellaan, johon haluaa tilata listan viestit.</p>
  <br>
  <table>
    <thead>
      <tr>
        <th width="30%">Komento</th>
        <th width="70%">Selite</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>subscribe listan-nimi osoite</td>
        <td>Listalle liittyminen. Osoite-kohta tulee täyttää ainoastaan, kun haluat saada listalle tulevan postin eri osoitteeseen kuin siihen, mistä parhaillaan kirjoitat.</td>
      </tr>

      <tr>
        <td>unsubscribe listan-nimi osoite</td>
        <td>Listalta poistuminen.</td>
      </tr>

      <tr>
        <td>help</td>
        <td>Luettelo kaikista komennoista.</td>
      </tr>

      <tr>
        <td>info listan-nimi</td>
        <td>Tietoa ko. listasta.</td>
      </tr>

      <tr>
        <td>who listan-nimi</td>
        <td>Listalla jo olevat. Tämä komento on poistettu käytöstä monilla listoilla.</td>
      </tr>

      <tr>
        <td>which osoite</td>
        <td>Listat, joilla sähköpostiosoite tällä hetkellä on.</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h3 class="subtitle">Ongelma?</h3>

  <p>Jos listojen käytössä ilmenee ongelmia, älä pelkää kysyä apua. Ylläpitäjälle, joka on Matrixin <%= link_to 'tiedottaja', '/hallitus' %>, voi lähettää postia osoitteisiin matrix-owner (at) helsinki.fi, matrix-ry-owner (at) helsinki.fi, matrix-opet-owner (at) helsinki.fi, matrix-tyo-owner (at) helsinki.fi ja matrix-alumnit-owner (at) helsinki.fi.</p>
</div>