<div class="box">
	<% if @text %>
		<pre><%= @text.value.html_safe %></pre>
	<% else %>
	<h2 class="title">Sanastoa</h2>

	<p><strong>alasauna</strong>: Uuden ylioppilastalon kellarissa sijaitseva pieni sauna, Mannerheimintie 5B<br/>
	 <strong>Alina / Alina-sali</strong>: juhlatila Uuden ylioppilastalon 3. kerroksessa, Mannerheimintie 5A<br/>
	 <strong>assari</strong>: laskuharjoitusten tai jonkin muun pienryhmätilaisuuden pitäjä, yleensä itsekin opiskelija<br/>
	 <strong>diffis I/II</a></strong>: kurssit differentiaaliyhtälöt I ja II<br/>
	 <strong>Chemicum</strong>: Kemian laitoksen rakennus Kumpulassa<br/>
	 <strong>Dynamicum</strong>: Ilmatieteen laitoksen rakennus Kumpulassa<br/>
	 <strong>epsilon</strong>: jokaisen matematiikon ystävä, usein hyvin pieni<br/>
	 <strong>excu</strong>: ekskursio, retki johonkin mielenkiintoiseen paikkaan kuten yritykseen tai vaikka teatteriin<br/>
	 <strong>Exactum</strong>: Matematiikan ja tilastotieteen sekä tietojenkäsittelytieteen laitokset majoittava rakennus Kumpulassa<br/>
	 <strong>fuksi</strong>: ensimmäisen vuoden opiskelija<br/>
	 <strong>Gurula</a></strong>: käpistelijöiden opiskelijahuone, Exactum DK115<br/>
	 <strong>huutis</a></strong>: huutopussi<br/>
	 <strong>Ida / Idan sauna</strong>: sauna, jossa on pidetty paljon Matrixin saunailtoja, Ida Aalbergin tie 1<br/>
	 <strong>halko</strong>: ainejärjestön tai muun yhdistyksen hallituksen kokous<br/>
	 <strong>HOPS</strong>: henkilökohtainen opintosuunnitelma<br/>
	 <strong>HY</a></strong>: Helsingin yliopisto<br/>
	 <strong>HYK</a></strong>: Helsingin yliopiston kemistit, kemistien ainejärjestö<br/>
	 <strong>HYY</a></strong>: Helsingin yliopiston ylioppilaskunta<br/>
	 <strong>kandi</strong>: kandidaatin tutkinto, 180 opintopistettä, ennen maisterin tutkintoa, myös kyseisen tutkinnon suorittanut henkilö<br/>
	 <strong>Kartano</a></strong>: Kumpulan kartano, matemaatti-luonnontieteellisen tiedekunnan ex-kanslia, Jyrängöntie 2<br/>
	 <strong>klusteri / klurre</a></strong>: Matrixin 15 muun järjestön kanssa jakama tila kolmannella ylioppilastalolla osoitteessa Mechelininkatu 3C<br/>
	 <strong>Komero</strong>: matematiikan opiskelijoiden opiskelijahuone, Exactum C338<br/>
	 <strong>kyykkä;</a></strong>: akateemisista urheilulajeista hienoin ja kaunein, heitellään pieniä kyykkiä isommalla kartulla<br/>
	 <strong>kähmintä</strong>: Matrixin (tai ehkä muidenkin järjestöjen) uuden hallituksen värvääminen, katso <%= link_to 'virkailijaksi', '/virkailijaksi' %>-sivua</a><br/>
	 <strong>käpistelijä</strong>: tietojenkäsittelytieteen opiskelija<br/>
	 <strong>käpistely</strong>: tietojenkäsittelytiede<br/>
	 <strong>laskarit</strong>: laskuharjoitusryhmä, ryhmässä käydään yhdessä läpi tehdyt laskuharjoitukset<br/>
	 <strong>Limes</a></strong>: matematiikan, tietojenkäsittelytieteen, fysiikan, kemian, geologian ja maantieteen opiskelijoiden ainejärjestö<br/>
	 <strong>limetti</strong>: yleensä Limes-aktiivi, voi viitata muutenkin vain limesläiseen<br/>
	 <strong>linis I/II</a></strong>: kurssit lineaarialgebra ja matriisilaskenta I ja II<br/>
	 <strong>lipasto</strong>: yliopisto<br/>
	 <strong>lisuri</strong>: lisensiaatin tutkinto tai tutkielma<br/>
	 <strong>Matlu</a></strong>: Helsingin yliopiston matemaattis-luonnontieteellisten opiskelijajärjestöjen yhteistyöjärjestö Matlu ry<br/>
	 <strong>mitta</a></strong>: kurssi mitta ja integraali<br/>
	 <strong>Moodi</a></strong>: tilastotieteilijöiden ainejärjestö<br/>
	 <strong>Navetta</strong>: Gurulan vieressä sijaitseva tietokoneluokka, Exactum DK110<br/>
	 <strong>noppa</strong>: opintopiste, op<br/>
	 <strong>n-vuoden opiskelija</strong>: ännännen vuoden opiskelija, opiskellut yli neljä vuotta<br/>
	 <strong>paja</strong>: joillakin kursseilla käytettävä opiskelumuoto, jossa tehdään yhdessä tehtäviä assarien avustuksella<br/>
	 <strong>palloukot</strong>: isot kiviset miehet pallot sylissään rautatieaseman sisäänkäynnillä, yleinen paikka yhteislähdöille<br/>
	 <strong>Physicum</strong>: fysiikan laitoksen rakennus Kumpulassa<br/>
	 <strong>pruju</strong>: luentomoniste, tulostetaan yleensä itse netistä, joskus nähty myytävänäkin<br/>
	 <strong>Resonanssi</a></strong>: fysiikan opiskelijoiden ainejärjestö<br/>
	 <strong>sitsit</strong>: akateemiset pöytäjuhlat, joihin pukeudutaan hienosti ja lauletaan, juodaan ja ehkä syödäänkin<br/>
	 <strong>TKO-äly / Tekis</a></strong>: käpistelijöiden ainejärjestö<br/>
	 <strong>todari</strong>: todennäköisyyslaskenta, viittaa yleensä joko kurssiin todennäköisyyslakenta I (ent. johdatus todennäköisyyslasketaan) tai todennäköisyysteoria<br/>
	 <strong>topo I/II</a></strong>: kurssit topologia I ja II<br/>
	 <strong>tuutori</a></strong>: fuksien auttamiseen koulutettu vanhempi opiskelija<br/>
	 <strong>UniCafe</strong>: opiskelijaruokala, joita sijaitsee joka kampuksella<br/>
	 <strong>Uusi</strong>: Uusi ylioppilastalo, Mannerhiemintie 5<br/>
	 <strong>Vanha</strong>: Vanha ylioppilastalo, Mannerheimintie 3<br/>
	 <strong>vekkuli</a></strong>: kurssi vektorianalyysi</p>

	 <% end %>
</div>