<div class="box">
  <% if @text %>
    <pre><%= @text.get_value.html_safe %></pre>
  <% else %>
	<h1 class="title">Matrix Yrityksille</h1>
	<br>
	<p class="subtitle">Mikä on Matrix?</p>
	<div class="content">
		 <ul>
			 <li>Matrix on Helsingin Yliopiston matematiikan opiskelijoiden ainejärjestö.</li>
			 <li>Jäseniä Matrixilla on noin 400.</li>
			 <li>Vuosittain Matrix saa noin 100 uutta jäsentä.</li>
			 <li>
			 	Matrix toimii ainejärjestönä muun muassa seuraavien tehtävien parissa:
			 	 <ul>
			 	 	<li>fuksien perehdytys yliopistomaailmaan.</li>
			 	 	<li>opiskelijoiden edunvalvonta ja opintoihin vaikuttaminen.</li>
			 	 	<li>tapahtumien järjestäminen, kuten sitsit, saunaillat ja excursiot.</li>
			 	 </ul>
		 	 </li>
		 </ul>
	 </div>
	 <p> </p>
	 <p class="subtitle">Työpaikkailmoitukset</p>

	 <p>Matrixilla on oma sähköpostilista työpaikka-ilmoituksille. Listalle matrix-tyo (at) helsinki.fi voi lähettää työpaikka- ja harjoitteluilmoituksia (ei opetustehtäviä) matematiikan nykyisiä ja vastavalmistuneita opiskelijoita ajatellen. Listalle soveltuvat myös Matrix ry:n ulkopuoliset matemaatikoille suunnatut työelämätietoutta lisäävät tiedotteet ja tapahtumailmoitukset. Lista on moderoitu. Listalle ei päästetä läpi halpatyövoimaa hakevia tai muille kuin matematiikan opiskelijoille suunnattuja ilmoituksia.</p>
	 <p> </p>
	<br>
	 <p class="subtitle">Yhteistyömahdollisuuksia</p>
	 <div class="content">
		 <p>Haalarimainokset</p>
		 <ul>
		 	<li>Jokainen fuksivuosi tilaa omat haalarinsa Matrixin väreissä, joita he pitävät aktiivisesti koko opiskeluidensa ajan. Mainos tuo näkyvyyttä moneksi vuodeksi. Haalareita tilataan kerralla noin sadalle opiskelijalle.</li>
		 	<li>Opiskelijat katsovat kesätyömahdollisuuksia miettiessään usein haalareistaan yrityksiä, jotka ovat kiinnostuneita heistä.</li>
		 	<li>Hintoja kannattaa kysyä hallitukselta. Vaihtoehtoja on mm. kokonainen hiha, pohje tai rintatasku.</li>
		 </ul>
		 <p>Vuosijuhlat</p>
		 <ul>
		 	<li>Vuosijuhlat ovat ainejärjestön vuoden kohokohta, joka kokoaa yhteen niin uusia kuin vanhojakin jäseniä.</li>
		 	<li>Seuraavat vuosijuhlat ovat <%= @next_anniversary %>. vuosijuhlat.</li>
		 	<li>
		 		Yrityksillä on mahdollisuus tukea juhlaa esimerkiksi seuraavin tavoin:
		 		<ul>
		 			<li>Pääsponsorointi</li>
		 			<li>Snapsit</li>
		 			<li>Kuljetukset juhlapaikalta jatkoille</li>
		 			<li>Jatkot</li>
		 		</ul>
		 	</li>
		 	<li>Yhteistyöyritykset ovat esillä mm. vuosijuhlien ohjelma- tai lauluvihkossa ja mahdollisuuksien mukaan yritykset saavat myös illalliskortteja.</li>
		 </ul>
		 <p>Excursiot</p>
		 <ul>
		 	<li>Järjestämme excursioita eli yritysvierailuita yrityksiin sekä paikallisexcursioina että mahdollisuuksien mukaan pidempinä excursiomatkoina.</li>
		 	<li>Excursiot tuovat näkyvyyttä Matrixin jäsenille ja siellä on hyvä esitellä esimerkiksi matemaatikon työllistymismahdollisuuksia yrityksessä</li>
		 </ul>
		 <p>Työpaikkailmoitukset</p>
		 <ul>
		 	<li>Otamme mielellämme vastaan työpaikkailmoituksia, jotka välitämme jäsenistöllemme.</li>
		 </ul>
		 <p> </p>
		 <p>Olemme avoimia myös muille yhteistyömahdollisuuksille. Kaikissa yhteistyöasioissa kannattaa olla yhteydessä Matrixin hallitukseen <strong>matrix-hallitus (at) helsinki.fi</strong></p>
		 <p> </p>
	</div>
  <% end %>
</div>