<div>
	<% members.each do |member| %>
		<b><%= member.name %></b> <br>
		<% member.positions_by_year(@year).each do |position| %>
			<span> <%= position.name %> </span> <br>
		<% end %>
		<br>
	<% end %>
</div>