<%= form_for(@document_group_category) do |f| %>

  <div class="field">
    <%= f.label :name, 'Nimi', :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input', :required => true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
  </div>
<% end %>
