<div class="box">

	<h1 class="title">Muokkaa kategoriaa</h1>

  <i>Huom. Tenttiarkiston nimi täytyy olla täsmälleen "Tenttiarkisto", jotta se toimii ylävalikon linkistä</i>

	<%= render 'form' %>

	<br>

	<%= link_to 'Takaisin', @document_group_category %>

</div>
