$navbar-item-hover-background-color: transparent;

$section-padding: 1rem 1rem;

$box-padding: 1rem;

@import "bulma";

.column > img {
	display: block;
	margin: 0 auto;
}

.navbar-start > .navbar-item {
	font-weight: bold;
}

.navbar-start > .navbar-item > .navbar-link > a {
	font-weight: bold;
}

footer img {
	padding: 1rem 1rem;
}

#success-notification {
	color: green;
}

#error-notification {
	color: red;
}

.box {
	margin: 0rem 0.5rem;
}