// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.compactEvent {

  padding-left: 1vw;

  list-style-type: none;

  background-color: white;

  padding: 10px;

}

.Event_info {
  padding-left: 3vw;
  line-height: 200%;
}

.Event_descr {
  line-height: 200%;
  padding-left: 1vw;
}

.Event {
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.location_image, .time_image {
  position: absolute;
  padding-left: 1vw;
}

.Eventname { a:link, a:visited, a:hover, a:active { color: black; font-size: x-large; padding-left: 1vw; line-height: 125%; } }