// import the CSS framework

@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link

header {
  background-origin: border-box;
  background-color: red;
}

.navbar-brand {
  font-size: inherit;
}

.navbar-brand:hover {
  font-weight:bold;
}

.navbar-brand:link {
  color: white;
}

.custom-dropdown:hover .ul {
  display: block;
}

.custom-dropdown-menu {
  top: 95%;
}

.navbar-inverse {
  background-color: #0000FF;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}

  .dropdown-toggle:hover .dropdown-menu {
    display: block;
  }

.navbar-link {
  color: white;
}

.logo {
  position: absolute;
  left: -1px;
}

@media screen and (max-width: 700px) {
  .logo {
    position: relative;
  }
}

.body {
  background-color: red;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  background-color: #FFFFFF;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
