// import the CSS framework

@import "bootstrap-sprockets";
@import "bootstrap";

$background-color: white;

$navbar-height: 68px;

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: $background-color;
}

footer {
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 50px;
  text-align: center;
}

header {
  padding-top: 25px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
}

html {
  background-color: $background-color;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

main {
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 20px;
}

section {
  @extend .row;
  margin-top: 20px;
}

.box {
  border-style: none;
  background-color: #DDFFDD;
  text-align: center;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}

.container {
  width: inherit;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
}

.dropdown-link {
  font-size: inherit;
}

.dropdown-menu {
  top: 96%;
}

.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.header {
  margin-left: 200px;
  margin-right: 200px;
}

.login {
  padding-left: 15vw;
  height: 80%;
}

.login > form > span {
  font-size: 90%;
}

.login-input {
  width: 8vw;
}

.logo {
  position: absolute;
  left: -1px;
}

.navbar {
  background-color: red;
  border-style: none;
  border-radius: 0px;
  margin-bottom: 5px;
  padding-left: 300px;
  padding-right: 20vw;
}

.dropdown > .dropdown-toggle > a, .dropdown > .dropdown-toggle > a:hover, .dropdown > .dropdown-toggle > a:focus {
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    text-decoration: none;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

.title {
  color: blue;
}

#introduction {
  padding-bottom: 20px;
}