<% if alert %>
	<section class="section container">
		<article class="message is-danger">
		  <div class="message-body">
		    <%= alert %>
		  </div>
		</article>
	</section>
<% elsif @alert %>
	<section class="section container">
		<article class="message is-danger">
		  <div class="message-body">
		    <ul>
		      <% @alert.messages.values.each do |message| %>
		        <% message.each do  |m| %>
		          <li> <%= m %> </li>
		        <%end %>
		      <% end %>
		      </ul>
		  </div>
		</article>
	</section>
<% end %>